@import "fonts"
@import "vars"
@import "libs"

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

*::-webkit-input-placeholder
  color: #666
  opacity: 1

*:-moz-placeholder
  color: #666
  opacity: 1

*::-moz-placeholder
  color: #666
  opacity: 1

*:-ms-input-placeholder
  color: #666
  opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
  color: #666

body input:required:valid,
body textarea:required:valid
  color: #666

html, body
  height: 100%

section, header
  position: relative
  background-size: cover
  background-position: center

section
  background-color: #fff

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: 1.65
  font-family: $default-font
  overflow-x: hidden
  min-height: 700px
  opacity: 1

  // Menu navbar
  .mm-panel.mm-panel_has-navbar
    padding-top: 0

  #my-menu:not(.mm-menu)
    display: none

  // Header
  & .site-header
    background-image: url('../img/top-bg.jpg')
    min-height: 700px
    height: 100vh
    background-color: $dark
    color: #fff

    .top-bar
      padding-top: 40px
      position: absolute
      width: 100%
      z-index: 1

      .logo
        img
          width: 125px
          height: auto
          margin-left: 45px

      .phone
        position: absolute
        right: 85px
        top: 45px
        font-family: firasans, sans-serif
        font-size: 22px
        white-space: nowrap

        .fas
          color: #555
          margin-right: 5px
          font-size: 22px

      // Menu icon
      .hamburger
        position: absolute
        right: 0
        top: 35px

        .hamburger-box
          width: 35px

          .hamburger-inner, .hamburger-inner::after, .hamburger-inner::before
            width: 35px
            background-color: #fff
            border-radius: 0
            height: 2px


  .mm-navbar
    height: auto
    position: relative

    .mm-navbar__title
      padding: 0
      img
        width: 128px
        margin: 10px
        padding-bottom: 15px

.img-responsive
  display: block
  max-width: 100%
  height: auto

.text-center
  text-align: center

::selection
  background-color: $orange
  color: #fff

@import "media"
